@model CanAmLegacy.Models.NorthLinksBack9

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>NorthLinksBack9</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function() {
        $('select :nth-child(2)').attr('selected', 'selected');
        $('#InProgress').attr('checked', 'checked');
        $('#UsaPoints').val(0);
        $('#CanPoints').val(0);
        $('#MatchStatus').val('Not Started');
    });
</script>


